In [1]:
# Connecting with database.
# if there is no database exist, it will create one. 

import sqlite3
db = sqlite3.connect("Modelcars_database.db")

In [2]:
cursor = db.cursor()

In [3]:
# Ans no:-1

cursor.execute("create table customers_db(customerNumber, customerName, contactLastName, contactFirstName, phone, addressLine1, addressline2, city, state, postalCode, country, salesRepEmployeeNumber, creditLimit)")

In [4]:
# Ans no:-2

cursor.execute("create table Orders_db(orderNumber, orderDate, requiredDate, shippedDate, status, comments, customerNumber)")

In [5]:
with open ('Orders_data.csv', 'r') as file:
    no_records = 0
    for row in file:
        cursor.execute("insert into Orders_db values (?, ?, ?, ?, ?, ?, ?)", row.split(","))
        db.commit()
        no_records+=1
print(no_records, 'records inserted')

11 records inserted

In [6]:
# Ans No:- 3

results = cursor.execute("select * from Orders_db")
for row in results:
    print(row)

('1901', '12-03-2022', '20-03-2022', '17-03-2022', 'Closed', 'delivered', '123\n')
('1902', '13-04-2022', '21-04-2022', '19-04-2022', 'Closed', 'delivered', '456\n')
('1903', '15-05-2022', '23-05-2022', '21-05-2022', 'Closed', 'delivered', '789\n')
('1904', '16-06-2022', '24-06-2022', '22-06-2022', 'Closed', 'delivered', '1011\n')
('1905', '18-07-2022', '26-07-2022', '24-07-2022', 'Closed', 'delivered', '1112\n')
('1906', '19-08-2022', '27-08-2022', '25-08-2022', 'Closed', 'delivered', '1213\n')
('1907', '20-09-2022', '28-09-2022', '25-09-2022', 'Closed', 'delivered', '1548\n')
('1908', '22-10-2022', '30-10-2022', '28-10-2022', 'Closed', 'delivered', '1766\n')
('1909', '23-11-2022', '01-12-2022', '29-11-2022', 'Closed', 'delivered', '1985\n')
('1910', '25-12-2022', '02-01-2023', '27-12-2022', 'open', 'Not _Deliver', '2203\n')
('', '', '', '', '', '', '\n')

In [7]:
# Ans No:- 4

comments = cursor.execute("select comments from Orders_db")
for row in comments:
    print(row)

('delivered',)
('delivered',)
('delivered',)
('delivered',)
('delivered',)
('delivered',)
('delivered',)
('delivered',)
('delivered',)
('Not _Deliver',)
('',)

In [8]:
# Ans No:- 5

order_table = cursor.execute("select orderNumber, orderDate from Orders_db")
for row in order_table:
    print(row)

('1901', '12-03-2022')
('1902', '13-04-2022')
('1903', '15-05-2022')
('1904', '16-06-2022')
('1905', '18-07-2022')
('1906', '19-08-2022')
('1907', '20-09-2022')
('1908', '22-10-2022')
('1909', '23-11-2022')
('1910', '25-12-2022')
('', '')

In [9]:
cursor.execute("create table employees_db(employeeNumber, lastName, firstName, extension, email, officeCode, reportsTo, jobTitle)")

In [10]:
with open ('Employee_data.csv', 'r') as file:
    no_records = 0
    for row in file:
        cursor.execute("insert into employees_db values (?, ?, ?, ?, ?, ?, ?, ?)", row.split(","))
        db.commit()
        no_records+=1
print(no_records, 'records inserted')

10 records inserted

In [11]:
# Ans No:- 6

comments = cursor.execute("select employeeNumber, lastName, firstName from employees_db")
for row in comments:
    print(row)

('101', 'yadav', 'kiran')
('201', 'jadhav', 'swapnil')
('301', 'dalvi', 'pooja')
('401', 'kadam', 'swapnil')
('501', 'more', 'prachi')
('601', 'sakpal', 'yogita')
('701', 'shirke', 'harshada')
('801', 'pawar', 'nikita')
('901', 'chaugule', 'rasika')
('1001', 'salvi', 'priti')

In [12]:
with open ('Customers_data.csv', 'r') as file:
    no_records = 0
    for row in file:
        cursor.execute("insert into customers_db values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", row.split(","))
        db.commit()
        no_records+=1
print(no_records, 'records inserted')

10 records inserted

In [13]:
# Ans no:- 8

results = cursor.execute("select customerName, salesRepEmployeeNumber from customers_db")
for row in results:
    print(row)

('KD', '101')
('AT', '102')
('MB', '103')
('RP', '104')
('PD', '105')
('AC', '106')
('MK', '107')
('PC', '108')
('SJ', '109')
('VB', '110')

In [14]:
cursor.execute('create table payments_db(customerNumber, checkNumber, paymentDate, amount)')

In [16]:
with open ('Payments_data.csv', 'r') as file:
    no_records = 0
    for row in file:
        cursor.execute("insert into payments_db values (?, ?, ?, ?)", row.split(","))
        db.commit()
        no_records+=1
print(no_records, 'records inserted')

10 records inserted

In [17]:
# Ans no:- 9

results = cursor.execute("select paymentDate, amount from payments_db")
for row in results:
    print(row)

('12-Mar-22', '2100000\n')
('13-Apr-22', '2500000\n')
('15-May-22', '1800000\n')
('16-Jun-22', '2000000\n')
('15-Mar-22', '2350000\n')
('18-Apr-22', '2650000\n')
('19-Jul-22', '2950000\n')
('10-Jun-22', '3250000\n')
('14-Aug-22', '3550000\n')
('22-Oct-22', '3850000\n')

In [18]:
cursor.execute("create table products_db(productCode, productName, productLine, productScale, productVendor, productDescription, quantityInStock, buyPrice, MSRP)")

In [19]:
with open ('Products_data.csv', 'r') as file:
    no_records = 0
    for row in file:
        cursor.execute("insert into products_db values (?, ?, ?, ?, ?, ?, ?, ?, ?)", row.split(","))
        db.commit()
        no_records+=1
print(no_records, 'records inserted')

10 records inserted

In [20]:
# Ans no:- 10

results = cursor.execute("select productName, MSRP, productDescription from products_db")
for row in results:
    print(row)

('Audi', '3300000\n', 'Deluxe')
('Toyota', '1400000\n', 'Prime')
('Hyundai', '1500000\n', 'Prime')
('Nissan', '1000000\n', 'Deluxe')
('Jaguar', '3500000\n', 'Deluxe')
('Honda', '6900000\n', 'Prime')
('Bentley', '3900000\n', 'Deluxe')
('Bugatti', '4800000\n', 'Deluxe')
('Lexus', '3000000\n', 'Prime')
('Renault', '1100000\n', 'Prime')

In [21]:
# Ans no:- 14

comments = cursor.execute("select employeeNumber, lastName, firstName from employees_db")
for row in comments:
    print(row)

('101', 'yadav', 'kiran')
('201', 'jadhav', 'swapnil')
('301', 'dalvi', 'pooja')
('401', 'kadam', 'swapnil')
('501', 'more', 'prachi')
('601', 'sakpal', 'yogita')
('701', 'shirke', 'harshada')
('801', 'pawar', 'nikita')
('901', 'chaugule', 'rasika')
('1001', 'salvi', 'priti')