In [1]:
#how to create an empty list.
l = []
l

[]

In [3]:
# list may be a combination of all integer, float, complex, string etc.
list = ['a','b','c',6.5, 7,2+3j]
list

['a', 'b', 'c', 6.5, 7, (2+3j)]

In [4]:
employee_name = ['ram','shyam','ghanhyam','tukaram','sitaram','parshuram']
employee_name

['ram', 'shyam', 'ghanhyam', 'tukaram', 'sitaram', 'parshuram']

In [10]:
employee_name.append('duldulram')
employee_name

['ram',
 'shyam',
 'ghanhyam',
 'tukaram',
 'sitaram',
 'parshuram',
 'duldulram',
 'duldulram']

In [13]:
employee_name.append('gangaram')
employee_name

['ram',
 'shyam',
 'ghanhyam',
 'tukaram',
 'sitaram',
 'parshuram',
 'duldulram',
 'duldulram',
 'gangaram']

In [14]:
# For every single element we have to write append seperately. 
employee_name.append(2)
employee_name.append(4)
employee_name.append(6)
employee_name

['ram',
 'shyam',
 'ghanhyam',
 'tukaram',
 'sitaram',
 'parshuram',
 'duldulram',
 'duldulram',
 'gangaram',
 2,
 4,
 6]

In [22]:
employee_salary = [15000,25000,35000,45000,55000,65000,75000]
employee_salary

[15000, 25000, 35000, 45000, 55000, 65000, 75000]

In [23]:
type(employee_salary)

list

In [24]:
# How to use an insert function based on index value)
employee_salary.insert (7,85000)
employee_salary

[15000, 25000, 35000, 45000, 55000, 65000, 75000, 85000]

In [25]:
employee_salary.insert (8,95000)
employee_salary.insert (0,5000)
employee_salary

[5000, 15000, 25000, 35000, 45000, 55000, 65000, 75000, 85000, 95000]

In [28]:
#how to calucalte length of your data.
len(employee_salary)

10

In [29]:
#how to know the index value.
employee_salary[1]

15000

In [30]:
employee_name[5]

'parshuram'

In [31]:
#grab the index.
employee_salary[2:4]

[25000, 35000]

In [32]:
# Here 1 is inlcuded and 5 is excluded.
employee_name[1:5]

['shyam', 'ghanhyam', 'tukaram', 'sitaram']

In [40]:
# How to many times value comes in a list is indetfied by using count function.
employee_salary.count (25000)

1

In [41]:
employee_salary.count(85000)

1

In [42]:
employee_salary.count(60000)

0

In [43]:
employee_name.count('parshuram')

1

In [64]:
employee_salary.pop(2)
employee_salary

[5000, 15000, 45000, 55000, 65000, 75000, 85000, 95000]

In [72]:
list = ['a','b','c','d','e','f','g','h','i']
list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [77]:
#how to reverse anything.
list.reverse()
list

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [78]:
employee_salary.reverse()
employee_salary

[95000, 85000, 75000, 65000, 55000, 45000, 15000, 5000]

In [79]:
employee_name.reverse()
employee_name

['2',
 'm',
 'a',
 'r',
 6,
 4,
 2,
 'gangaram',
 'duldulram',
 'duldulram',
 'parshuram',
 'sitaram',
 'tukaram',
 'ghanhyam',
 'shyam',
 'ram']

In [80]:
list.sort()
list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [81]:
employee_salary.sort()
employee_salary

[5000, 15000, 45000, 55000, 65000, 75000, 85000, 95000]

In [14]:
employee_name.extend('kiran')
employee_name

NameError: name 'employee_name' is not defined

In [89]:
#how to use an remove function
employee_salary.remove(85000)
employee_salary

[5000, 15000, 45000, 55000, 65000, 75000, 95000]

In [ ]:
My list = [1,2,3,4,5,6]